<!DOCTYPE html>
<html>
<head>
  <title>Sorted Numbers</title>
</head>
<body>
  <h1>Sorted Numbers</h1>
  <ul>
    <% for (let number of numbers) { %>
      <li><%= number %></li>
    <% } %>
  </ul>
</body>
</html>
